:root {
  --main-bg-color: white;
  --main_content-bg-color: rgb(0, 0, 15, 0.8);
  --cv_width: 700px;
  /* var(--main_content-bg-color); */
}

html body{
  margin: 0px;
  padding: 0px;
}

.fullRow{grid-column: 1 / 3}
.emptyRow{padding-top: 1em}
.leftCol{grid-column: 1 / 2;}
.boldText{font-weight: bold;}
.minSize{ min-height: 1em;}

.pInfo{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 25px;
}

.cvContent{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.cvContent h2{margin: 0px 0px 20px 0px}
.headline{font-size: 1.2em}
.name{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.profileImg{
  border: none;
  margin: 5px auto;
  min-width: 50px;
  min-height: 100px;
}

.profileImg img{
  height: 150px; 
  margin: auto; 
  display: block;
}

textarea{
  width: 100%;
  resize:vertical;
}

.duration{width: 9em;}
.listGrid{
    display: grid;
    grid-template-columns: auto 1fr;
}

.cvPrint{
  box-sizing: border-box;
  color: black;
  /* width: var(--cv_width); */
  /* min-height: 990px; */
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  /* box-shadow: inset 2px 0px 3px 0px rgba(0, 0, 0, 0.45), inset -2px 0px 3px 0px rgba(0, 0, 0, 0.45), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.45); */
}

